.header{
    background-color: #004b8d;    
    height: 86px;
}

.emrHeaderLogo{
    height: 80px;
    padding-left: 4px;
}

.solaHDLogo{
    height: 80px;
    float: right;
    padding-right: 4px;
    padding-top: 58px;
    height: 21px;
    width: 135px;
}

