<script type="text/javascript">
	$.getScript('/web2/pages/nwstatus.js');
</script>

<script>
	function refreshTable(x)
	{
		$('#' + x.toString()).trigger('onshow');
	}
</script>

<script type="text/x-tmpl" id="tmpl-table2col">
   <table class="highight-row">
      <tbody>
         <tr>
            <th>{%=o.heading%}</th>
            <th></th>
         </tr>
         {% o.counter = 0; %}
         {% for(var key in o.data){ %}
            <tr class="row-{%=(o.counter++%2)+1%}">
               <td class="long">{%=o.names[key]%}:</td>
               <td>{%=o.data[key]%}</td>
            </tr>
         {% } %}
      </tbody>
   </table>
</script>

<script type="text/x-tmpl" id="tmpl-table2col-ipconfig">
	<table class="highight-row">
		<tbody>
			<tr>
				<th>{%=o.heading%}</th>
				<th></th>
			</tr>
			{% o.counter = 0; %}
			{% for(var key in o.names){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.names[key]%}:</td>
					<td>{%=o.data[key]%}</td>
				</tr>
			{% } %}
		</tbody>
	</table>
</script>

<script type="text/x-tmpl" id="tmpl-table2col-refresh">
	<table class="highight-row">
		<tbody>
			<tr>
				<th>{%=o.heading%}</th>
				<th>
					<button id="refresh-status" class="refresh-btn" onclick="refreshTable(eventCaller(event))">
						Refresh
					</button>
				</th>
			</tr>
			{% o.counter = 0; %}
			{% for(var key in o.data){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.names[key]%}:</td>
					<td>{%=o.data[key]%}</td>
				</tr>
			{% } %}
		</tbody>
	</table>
</script>

<script type="text/x-tmpl" id="tmpl-table3col">
	<table id="countTable" class="highight-row">
		<tbody>
			<tr>
			<th></th>
			<th>{%=o.heading[0]%}</th><th>{%=o.heading[1]%}</th>
			<th></th>
			</tr>
			{% o.counter = 0; %}
			{% for(var key in o.data.port1){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.names[key]%}:</td>
					<td class="short">{%=o.data.port1[key]%}</td>
					<td>{%=o.data.port2[key]%}</td>
					<td></td>
				</tr>
			{% } %}
		</tbody>
	</table>
</script>

<script type="text/x-tmpl" id="tmpl-table3col-refresh">
	<table id="countTable" class="highight-row">
		<tbody>
			<tr>
			<th></th>
			<th>{%=o.heading[0]%}</th><th>{%=o.heading[1]%}</th>
			<th>
				<button id="refresh-status" class="refresh-btn" onclick="refreshTable(eventCaller(event))">
					Refresh
				</button>
			</th>
			</tr>
			{% o.counter = 0; %}
			{% for(var key in o.data.port1){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.names[key]%}:</td>
					<td class="short">{%=o.data.port1[key]%}</td>
					<td>{%=o.data.port2[key]%}</td>
					<td></td>
				</tr>
			{% } %}
		</tbody>
	</table>
</script>

<script type="text/x-tmpl" id="tmpl-table4col">
   <table id="countTable" class="highight-row">
      <tbody>
         <tr>
         <th></th>
         <th>{%=o.heading[0]%}</th><th>{%=o.heading[1]%}</th><th>{%=o.heading[2]%}</th>
         <th></th>
         </tr>
         {% o.counter = 0; %}
         {% for(var key in o.data.port1){ %}
            <tr class="row-{%=(o.counter++%2)+1%}">
               <td class="long">{%=o.names[key]%}:</td>
               <td class="short">{%=o.data.port1[key]%}</td>
               <td class="short">{%=o.data.port2[key]%}</td>
               <td>{%=o.data.port0[key]%}</td>
               <td></td>
            </tr>
         {% } %}
      </tbody>
   </table>
</script>

<script type="text/x-tmpl" id="tmpl-table4col-refresh">
   <table id="countTable" class="highight-row">
      <tbody>
         <tr>
         <th></th>
         <th>{%=o.heading[0]%}</th><th>{%=o.heading[1]%}</th><th>{%=o.heading[2]%}</th>
         <th>
            <button id="refresh-status" class="refresh-btn" onclick="refreshTable(eventCaller(event))">
               Refresh
            </button>
         </th>
         </tr>
         {% o.counter = 0; %}
         {% for(var key in o.data.port1){ %}
            <tr class="row-{%=(o.counter++%2)+1%}">
               <td class="long">{%=o.names[key]%}:</td>
               <td class="short">{%=o.data.port1[key]%}</td>
               <td class="short">{%=o.data.port2[key]%}</td>
               <td>{%=o.data.port0[key]%}</td>
               <td></td>
            </tr>
         {% } %}
      </tbody>
   </table>
</script>

<script>
	function eventCaller(event) {
		target = (event.target) ? event.target : event.srcElement;
		return target.parentNode.parentNode.parentNode.parentNode.parentNode.id;
	}
</script>

<script type="text/x-tmpl" id="tmpl-accordion">
	<dt>
		<a href="">
			<span class="open"></span>
			<p>{%=o.title%}</p>
		</a>
	</dt>
	<dd id="{%=o.identifier%}"></dd>
</script>

<script type="text/x-tmpl" id="tmpl-nwspecific-data">
	<table class="highight-row">
		<tbody>
			<tr>
				<th colspan="2">&nbsp;</th>
				<th>
					<button id="refresh-status" class="refresh-btn" onclick="refreshTable(eventCaller(event))">
						Refresh
					</button>
				</th>
			</tr>
			{% for(var i=0; i<o.length; i++){ %}
				<tr class="row-{%=(i%2)+1%}">
					<td class="long">{%=o[i].name%}:</td>
					<td>{%=o[i].value%}</td>
					<td></td>
				</tr>
			{% } %}
		</tbody>
	</table>
</script>

<div id="nwstat-content">
	<div id="ipconf"></div>
	<div id="ethconf" style="padding-top: 10px;"></div>
	<div id="ifcount" style="padding-top: 5px;">
		<dl class="accordion"></dl>
	</div>
</div>