html,
body {
  min-height: 100%;
  height: 100%;
}
html {
  overflow-y: scroll;
  display: none;
}
body {
  background-color: #cfcfcf;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;
}
#wrapper {
  background-color: white;
  margin: 0 auto;
  border: 0;
  width: 800px;
  min-height: 100%;
  position: relative;
  overflow: auto;
}
#content-wrapper {
  margin-top: 3px;
}
#menu {
  float: left;
  border: 1px solid #fff;
  width: 110px;
}
#main-content {
  float: right;
  margin-left: 4px;
  padding: 0;
  width: 682px;
  border: 0;
  padding-bottom: 30px;
}
#footer {
  background-color: #004b8d;
  border-color: #ccc #888 #839fb0 #bbb;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 800px;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  bottom: 0;
}
#menu_ph1 {
  float: left;
  border: 1px solid #fff;
  width: 110px;
}
