.accordion dt,
dd {
  padding: 5px;
  border-bottom: 0;
  margin: 0;
}
.accordion dd {
  border-top: 0;
  display: block;
}
.accordion a {
  display: block;
  clear: both;
  font-weight: bold;
  font-size: 12px;
}
.accordion p {
  top: 1px;
  margin: 0 0 0 20px;
}
.accordion span {
  margin-top: -2px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
}
.accordion table {
  margin-bottom: 10px;
}
.accordion .open {
  background-image: url("../img/accordion_open.png");
}
.accordion .closed {
  background-image: url("../img/accordion_closed.png");
}
.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.85;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
