.header{
    background-color: #004b8d;    
    height: 86px;
}

.emrHeaderLogo{
    height: 80px;
    padding-left: 4px;
}

.solaHDLogo{
    height: 80px;
    float: right;
    padding-right: 4px;
    padding-top: 58px;
    height: 21px;
    width: 135px;
}

.livepara{
    color: inherit;
}

.count{
    color: inherit;
}

.maxval{
    color: inherit;
}

.EventFlagPara{
    padding-left: 20px;
}

.rightBorder{
    border-right: 1px solid gray !important;
    padding-right: 3px !important;
}

.txtRightAlign{
    text-align: right;
}

.txtCenterAlign{
    text-align: center;
}