<script type="text/javascript">
	$.getScript('/web2/pages/nwconfig.js');
</script>

<script type="text/x-tmpl" id="tmpl-dropdown">
	<select name="{%=o.key%}">
	{% for(var i=0;i<o.list.length;i++){ %}
		<option value="{%=i%}" {%=selected(o.value, i)%}>{%=o.list[i]%}</option>
	{% } %}
	</select>
</script>

<script type="text/x-tmpl" id="tmpl-conf">
	<div  style="padding-bottom: 20px;">
	<form id="{%=o.identifier%}">
		<table>
			<tbody>
				<tr>
					<th colspan="2">{%=o.heading%}</th>
				</tr>
				{% o.counter = 0; %}
				{% if( o.selects ){ %}
					{% for(var i=0; i<o.selects.length;i++){ %}
					<tr class="row-{%=(o.counter++%2)+1%}">
						<td class="long">{%=[o.selects[i].name]%}</td>
						<td>
							{% include('tmpl-dropdown', o.selects[i]); %}
						</td>
					</tr>
					{% } %}
				{% } %}
				{% for(var key in o.names){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.names[key]%}</td>
					<td>
						<input class="stdinput" type="text" name="{%=key%}" value="{%=o.inputs[key]%}" />
					</td>
				</tr>
				{% } %}
			</tbody>
		</table>
	</form>
	<button class="flat-button" name="button_{%=o.identifier%}" onclick="buttonClickFunction('{%=o.identifier%}')">Save settings</button>
	</div>
</script>

<script type="text/x-tmpl" id="tmpl-nw-conf">
	<div  style="padding-bottom: 20px;">
	<form id="{%=o.identifier%}">
		<table>
			<tbody>
				<tr>
					<th colspan="2">{%=o.heading%}</th>
				</tr>
				{% o.counter = 0; %}
				{% for(var index in o.params){ %}
				<tr class="row-{%=(o.counter++%2)+1%}">
					<td class="long">{%=o.params[index].name%}</td>
					<td>
						{% if( o.params[index].list ){ %}
							{% include('tmpl-dropdown', o.params[index]); %}
						{% } else { %}
							<input class="stdinput" type="{%=o.params[index].type%}" name="{%=o.params[index].key%}" value="{%=o.params[index].value%}" />
						{% } %}
					</td>
				</tr>
				{% } %}
			</tbody>
		</table>
	</form>
	<button class="flat-button" name="button_{%=o.identifier%}" onclick="buttonClickFunction('{%=o.identifier%}')">Save settings</button>
	</div>
</script>

<div id="nwconfig-content">
	<div id="ipconf">
	</div>
	<div id="ethconf">
	</div>
	<div id="nwconf">
	</div>
</div>
<div>
	<table id="gui_version">
		<thead>
			<tr>
				<th colspan="2" class="name-col">Version</th>
			</tr>
			<tbody id="tbody">
				<tr class="row-1">
					<td class="long">GUI Version</td>
					<td style="float: left;">2.0.2</td>
				</tr>
			</tbody>
		</thead>
	</table>
</div>